/*******************************
* Copyright 2018 Andrew Coutts
********************************/



h5 {
  margin: 0px;
}

.recent-trades-header {
  margin-bottom: -1px;
}

.wrapper {
  padding-top: 20px;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    padding-bottom: 30px;
  }
}


.marketStatus {
  display: inline-block;
}

.float-right {
  float: right;
}
